<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/PROWAD</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.current_session_context_class">thread</property>
  <property name="hibernate.enable_lazy_load_no_trans">true</property>
  <property name="show_sql">true</property>
  <mapping class="mx.prowad.model.Atributo"/>
  <mapping class="mx.prowad.model.Carrito"/>
  <mapping class="mx.prowad.model.Categoria"/>
  <mapping class="mx.prowad.model.CategoriaAtributo"/>
  <mapping class="mx.prowad.model.Estado"/>
  <mapping class="mx.prowad.model.Producto"/>
  <mapping class="mx.prowad.model.ProductoAtributo"/>
  <mapping class="mx.prowad.model.ProductoCarrito"/>
  <mapping class="mx.prowad.model.ProductoCategoria"/>
  <mapping class="mx.prowad.model.Rol"/>
  <mapping class="mx.prowad.model.Tienda"/>
  <mapping class="mx.prowad.model.TipoDato"/>
  <mapping class="mx.prowad.model.Usuario"/>
 </session-factory>
</hibernate-configuration>
